//// ==========================================================================
/// @group Elements
/// Headings
//// ==========================================================================

@use "sass:map";

@use "@glsass/graphics";

%_heading {
  margin-bottom: graphics.$ui-headings-margin-bottom;
  color: graphics.$ui-headings-color;
  font-family: graphics.$ui-headings-font-family;
}

@each $hn, $styles in graphics.$ui-headings-styles {
  h#{$hn} {
    @extend %_heading;

    @each $style, $value in $styles {
      @if ($value) {
        #{$style}: $value;
      }
    }
  }
}
