//// ==========================================================================
/// @group Graphics
/// Fonts
//// ==========================================================================

@use "sass:list";

@use "@glsass/settings/settings.core" as core;

@use "@glsass/tools/tools.global" as *;

// ===========================================================================
// Fonts
// ===========================================================================

/// @type String|List
$ui-fonts-google: () !default;
/// @type List
$ui-fonts-family-map: () !default;
$ui-fonts-family-map: list.join(
  $ui-fonts-family-map,
  (
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji"
  )
);

/// @type Number
$ui-fonts-font-size: core.$g-font-size-base !default;
/// @type Number
$ui-fonts-font-weight: null !default;
/// @type Number
$ui-fonts-line-height: core.$g-font-line-height-base !default;

// ===========================================================================
// Headings
// ===========================================================================

/// @type Number
$ui-headings-h1-font-size: $ui-fonts-font-size * 3 !default; // 48px
/// @type Number
$ui-headings-h1-baseline: vr(2.5) !default; // 2.5vr - 60px

/// @type Number
$ui-headings-h2-font-size: $ui-fonts-font-size * 2.25 !default; // 36px
/// @type Number
$ui-headings-h2-baseline: vr(2) !default; // 2vr - 48px

/// @type Number
$ui-headings-h3-font-size: $ui-fonts-font-size * 1.75 !default; // 28px
/// @type Number
$ui-headings-h3-baseline: vr(1.5) !default; // 1.5vr - 36px

/// @type Number
$ui-headings-h4-font-size: $ui-fonts-font-size * 1.5 !default; // 24px
/// @type Number
$ui-headings-h4-baseline: vr(1.5) !default; // 1.5vr - 36px

/// @type Number
$ui-headings-h5-font-size: $ui-fonts-font-size * 1.25 !default; // 20px
/// @type Number
$ui-headings-h5-baseline: vr(1) !default; // 1vr - 24px

/// @type Number
$ui-headings-h6-font-size: $ui-fonts-font-size * 1 !default; // 16px
/// @type Number
$ui-headings-h6-baseline: vr(1) !default; // 1vr - 24px

/// Default headings margin bottom
/// @type Number
$ui-headings-margin-bottom: vr(1) / 2 !default;
/// Default headings color
/// @type Color
$ui-headings-color: null !default;
/// Default headings `font-family`
/// @type String
$ui-headings-font-family: null !default;
/// Default headings `font-weight`
/// @type Number
$ui-headings-font-weight: 700 !default;
/// Default headings `font-style`
/// @type String
$ui-headings-font-style: null !default;

/// @type Map
$ui-headings-styles: (
  1: (
    font-size: $ui-headings-h1-font-size,
    line-height: $ui-headings-h1-baseline / $ui-headings-h1-font-size,
  ),
  2: (
    font-size: $ui-headings-h2-font-size,
    line-height: $ui-headings-h2-baseline / $ui-headings-h2-font-size,
  ),
  3: (
    font-size: $ui-headings-h3-font-size,
    line-height: $ui-headings-h3-baseline / $ui-headings-h3-font-size,
  ),
  4: (
    font-size: $ui-headings-h4-font-size,
    line-height: $ui-headings-h4-baseline / $ui-headings-h4-font-size,
  ),
  5: (
    font-size: $ui-headings-h5-font-size,
    line-height: $ui-headings-h5-baseline / $ui-headings-h5-font-size,
  ),
  6: (
    font-size: $ui-headings-h6-font-size,
    line-height: $ui-headings-h6-baseline / $ui-headings-h6-font-size,
  ),
) !default;
