////
/// @group UI
/// Standards
////

@use "@glsass/tools/tools.global" as *;

// Standardise some UI treatments.
$ui-border-width: (1rem / 16) !default;
$ui-border-color: cv(gray, 300) !default;
$ui-border-radius: (1rem / 4) !default;

$ui-shadow-color: rgba(cv(primary), 0.25) !default;
$ui-shadow-width: (1rem / 4) !default;

/// Animation
$ui-transition-timing-function-cubic: cubic-bezier(
  0.62,
  0.28,
  0.23,
  0.99
) !default;
$ui-transition-timing-function: $ui-transition-timing-function-cubic !default;
