//// ==========================================================================
/// @group Helpers
/// Headings
//// ==========================================================================
@use "sass:map";

@use "@glsass/graphics";

@use "@glsass/tools/tools.builder" as builder;

/// @type String
$h-headings-classname: "h-h" !default;
@include builder.check-classname($h-headings-classname);

%_heading {
  color: graphics.$ui-headings-color;
  font-family: graphics.$ui-headings-font-family;
}

@each $hn, $value in graphics.$ui-headings-styles {
  .#{$h-headings-classname}#{$hn} {
    @extend %_heading;

    font-size: map.get($value, font-size) !important;
    font-weight: map.get($value, font-weight) !important;
    font-style: map.get($value, font-style) !important;
    line-height: map.get($value, line-height) !important;
  }
}
