//// ==========================================================================
/// @group Helpers
/// Headings
//// ==========================================================================

@use "sass:map";

@use "@glsass/graphics";

@use "@glsass/tools/tools.builder" as builder;

/// @type String
$h-headings-classname: "h-h" !default;
@include builder.check-classname($h-headings-classname);

%_heading {
  color: graphics.$ui-headings-color;
  font-family: graphics.$ui-headings-font-family;
}

@each $hn, $styles in graphics.$ui-headings-styles {
  .#{$h-headings-classname}#{$hn} {
    @extend %_heading;

    @each $style, $value in $styles {
      @if ($value) {
        #{$style}: $value !important;
      }
    }
  }
}
