//// ==========================================================================
/// @group Components
/// Headings
//// ==========================================================================
@use "sass:map";

@use "@glsass/graphics";

%_heading {
  color: graphics.$ui-headings-color;
  font-family: graphics.$ui-headings-font-family;
  font-weight: graphics.$ui-headings-font-weight;
  font-style: graphics.$ui-headings-font-style;
}

@each $hn, $value in graphics.$ui-headings-styles {
  .u-h#{$hn} {
    @extend %_heading;

    font-size: map.get($value, font-size) !important;
    line-height: map.get($value, line-height) !important;
  }
}
