//// ==========================================================================
/// @group Components
/// Badge
//// ==========================================================================

@use "@glsass/graphics";

@use "@glsass/tools/tools.builder" as builder;
@use "@glsass/tools/tools.contrast" as contrast;
@use "@glsass/tools/tools.spacing" as spacing;
@use "@glsass/tools/tools.global" as *;

/// @type String
$c-badge-classname: "c-badge" !default;
@include builder.check-classname($c-badge-classname);

/// @type Number
$c-badge-padding-y: 0.25rem !default;
/// @type Number
$c-badge-padding-x: 0.5rem !default;

/// @type Number
$c-badge-font-size: 0.75rem !default;
/// @type Number
$c-badge-line-height: spacing.adjust-vr(
  1,
  $c-badge-font-size,
  $c-badge-padding-y * 2
) !default;

/// @type Number
$c-badge-border-radius: graphics.$ui-border-radius !default;

/// @type Color
$c-badge-background-color: cv(light) !default;
/// @type Color
$c-badge-text-color: contrast.color($c-badge-background-color) !default;

.#{$c-badge-classname} {
  display: inline-block;
  padding: $c-badge-padding-y $c-badge-padding-x;
  color: $c-badge-text-color;
  font-size: $c-badge-font-size;
  line-height: $c-badge-line-height;
  vertical-align: top;
  background-color: $c-badge-background-color;
  border-radius: $c-badge-border-radius;
}
