//// ==========================================================================
/// @group Components
/// Badge
//// ==========================================================================

@use "@glsass/graphics";

@use "@glsass/tools/tools.builder" as builder;
@use "@glsass/tools/tools.contrast" as contrast;
@use "@glsass/tools/tools.global" as *;

/// @type String
$c-badge-classname: "c-badge" !default;
@include builder.check-classname($c-badge-classname);

/// @type Number
$c-badge-border-radius: graphics.$ui-border-radius !default;

/// @type Color
$c-badge-background-color: cv(light) !default;
/// @type Color
$c-badge-text-color: contrast.color($c-badge-background-color) !default;

.#{$c-badge-classname} {
  display: inline-block;
  padding: 0.25em 0.5em;
  color: $c-badge-text-color;
  font-size: 0.75em;
  background-color: $c-badge-background-color;
  border-radius: $c-badge-border-radius;
}
