//// ==========================================================================
/// @group Forms
/// Label
//// ==========================================================================

@use "@glsass/tools/tools.spacing" as spacing;

/// @type Number
$c-label-margin-bottom: spacing.add-space(2) !default;

/// @type Color
$c-label-color: null !default;

/// @type Number
$c-label-font-weight: 700 !default;

.c-form {
  // Labels
  &__label {
    display: block;
    flex-basis: 100%;
    width: 100%;
    margin-bottom: $c-label-margin-bottom;
    color: $c-label-color;
    font-weight: $c-label-font-weight;

    &--required {
      // TODO add red asterisk?
    }
  }
}
