@use "sass:map";

@use "@glsass/settings" with (
  $g-color-primary: #02aab0,
);

@use "@glsass/tools/tools.global" as *;
@use "@glsass/graphics";

.m-example {
  display: block;
  flex-wrap: wrap;
  align-items: center;
  padding: calc(#{vr(0.5)} - 1px) vr(0.5);
  border: 1px solid cv(light);

  @include mq() {
    padding: calc(#{vr()} - 1px) vr();
  }

  li + li {
    margin-top: 0;
  }

  li > {
    ol,
    ul {
      margin-bottom: 0;
    }
  }

  &--elements {
    /// Headings
    %_heading {
      margin-bottom: graphics.$ui-headings-margin-bottom;
      color: graphics.$ui-headings-color;
      font-family: graphics.$ui-headings-font-family;
      font-weight: graphics.$ui-headings-font-weight;
      font-style: graphics.$ui-headings-font-style;
    }

    @each $hn, $value in graphics.$ui-headings-styles {
      h#{$hn} {
        @extend %_heading;

        font-size: map.get($value, font-size);
        line-height: map.get($value, line-height);
      }
    }

    /// Links
    a {
      color: inherit;
      text-decoration: underline;

      &[target="_blank"]::after {
        content: " \2197";
      }

      @media (hover) {
        &:hover {
          text-decoration: none;
        }
      }

      &:focus {
        text-decoration: none;
        outline-color: rgba(cv(primary), 0.25);
      }
    }

    /// Lists
    ol,
    ul {
      padding-left: vr(1.5);
    }

    dl,
    ol,
    ul {
      margin-top: 0;
      margin-bottom: vr(1);
    }

    dt {
      font-weight: 700;
    }

    dd {
      margin-bottom: vr(0.5);
      margin-left: 0;
    }
  }
}
