//// ==========================================================================
/// @group Tools
/// Color
//// ==========================================================================

@use "sass:color";
@use "sass:map";

@use "@glsass/settings/settings.colors" as colors;

/// @return {Color} - Lighten version of the color
@function tint($color, $level: 1, $interval: 8%) {
  @return color.scale($color, $lightness: $level * $interval);
}

/// @return {Color} - Darken version of the color
@function shade($color, $level: 1, $interval: 8%) {
  @return color.scale($color, $lightness: -1 * $level * $interval);
}

/// Color contrast
/// @param {Color} $color - Color to control to define best contrast
/// @param {Color} $dark [$g-color-text] - Dark color
/// @param {Color} $light [$g-color-white] - Light color
/// @return {Color} Color with better contrast ratio
@function yiq-contrast(
  $color,
  $dark: colors.$g-color-text,
  $light: colors.$g-color-white
) {
  $r: color.red($color);
  $g: color.green($color);
  $b: color.blue($color);

  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

  $_yiq-contrasted-threshold: 150;

  @return if($yiq >= $_yiq-contrasted-threshold, $dark, $light);
}
