//// ==========================================================================
/// @group Tools
/// Fonts
//// ==========================================================================

@use "sass:meta";
@use "sass:list";

@use "tools.list" as _list;
@use "tools.string" as _str;

$_url: "https://fonts.googleapis.com/css2?display=swap_families_";

@mixin import-google-fonts($families) {
  @if (
    meta.type-of($families) != "string" and meta.type-of($families) != "list"
  ) {
    @error "Invalid format: the parameter must be a string or list.";
  }

  @if (meta.type-of($families) == "string") {
    $uri: "&family=" + $families;
    @import url(_str.replace($_url, "_families_", $uri));
  } @else if (meta.type-of($families) == "list") {
    @if (not _list.is-empty($families)) {
      $uri: "";

      @each $family in $families {
        $uri: $uri + "&family=" + $family;
      }

      @import url(_str.replace($_url, "_families_", $uri));
    }
  }
}
